.table-row-hovered {
    padding: 5px 15px;
    margin: 2px 4px;
    border-radius: 5px;
    border: solid #331766 1px;
    display: flex;
    margin-bottom: 5px;
    cursor:pointer;
}

.table-row {
    padding: 5px 15px;
    margin: 2px 4px;
    border-radius: 5px;
    border: solid #e3e3e3 1px;
    display: flex;
    margin-bottom: 5px;
}