.search-wrapper {
    display: flex;
    padding: 10px;
}

.search-wrapper .search-input-wrapper {
    display: flex;
    flex: 1;
}

.search-wrapper .search-input-wrapper .search-input {
    flex: 1;
}