.search-wrapper {
    display: flex;
    padding: 10px;
}

.search-wrapper .search-input-wrapper {
    display: flex;
    flex: 1;
}

.search-wrapper .search-input-wrapper .search-input {
    width: 100%;
    border: none;
    border-bottom: solid #e2e2e2 3px;
    padding: 3px 6px;
}

.search-wrapper .search-button-wrapper {
    padding-left: 6px;
}